@(tasks: List[Task], taskForm: Form[Task])

@import helper._

<HTML>

@main("Edit page") {
    
    <h2>Editing:</h2>
    
    @form(routes.Application.editTask(taskForm.get().id)) {
		<input type="hidden" name="id" value="@taskForm.get().id"/>
        <input type=text name="name" placeholder="Name"/>
        <input type=tel name="m_number" placeholder="Mobile phone"/>
		<input type=tel name="h_number" placeholder="Home phone"/>
        
        <input type="submit" value="Save">
        
    }
    
}

</HTML>