@(tasks: List[Task])

@import helper._

<HTML>

@main("Schedule") {
		<table class="table table-striped" width="700px">
			<tr>
				<td width="100px">Номер группы</td>
				<td width="100px">День недели</td>
				<td width="100px">Часы</td>
				<td width="100px">Предмет</td>
				<td width="100px">Преподаватель</td>
				<td width="100px">Аудитория</td>
			</tr>
			@for(task <- tasks) {
				<tr>
					<td>@task.groupNumber</td>
					<td>@task.day</td>
					<td>@task.hours</td>
					<td>@task.lection</td>
					<td>@task.teacher</td>
					<td>@task.room</td>
				</tr>
			}
		</table>

	
    <h2>Поиск:</h2>
    
    <form action="@routes.Application.findTasks()" method="POST">
        <div class="col-xs-2">
			<input type=text class="form-control" name="groupNumber" placeholder="Номер группы"/>
		</div>
		<div class="col-xs-2">
			<input type=text class="form-control" name="day" placeholder="День недели"/>
		</div>
		<div class="col-xs-2">
			<input type=text class="form-control" name="hours" placeholder="Время занятия"/>
		</div>
		<div class="col-xs-2">
			<input type=text class="form-control" name="lection" placeholder="Название предмета"/>
		</div>
		<div class="col-xs-2">
			<input type=text class="form-control" name="teacher" placeholder="ФИО преподавателя"/>
		</div>
		<div class="col-xs-2">
			<input type=text class="form-control" name="room" placeholder="Номер аудитории"/>
		</div>
		<br><br>
        <div class="col-xs-2"><input type="submit" class="btn btn-default" value="Найти"></div>
    </form>
    
}

</HTML>