@(tasks: List[Task], taskForm: Form[Task])

@import helper._
@import helpers._

<HTML>

@main("Contacts") {
    
	<table class="table table-striped" width="700px">
		<tr>
			<td width="100px">Номер группы</td>
			<td width="100px">День недели</td>
			<td width="100px">Часы</td>
			<td width="100px">Предмет</td>
			<td width="100px">Преподаватель</td>
			<td width="100px">Аудитория</td>
		</tr>
		@for(task <- tasks) {
			<tr>
				<td>@task.groupNumber</td>
				<td>@task.day</td>
				<td>@task.hours</td>
				<td>@task.lection</td>
				<td>@task.teacher</td>
				<td>@task.room</td>
			</tr>
		}
	</table>

	
    <h2>Поиск:</h2>
    
    @form(routes.Application.findTasks()) {
		@helpInput(taskForm("groupNumber"), "Номер группы", 'type->"text")
		@helpInput(taskForm("day"), "День недели", 'type->"text")
		@helpInput(taskForm("hours"), "Время занятия", 'type->"text")
		@helpInput(taskForm("lection"), "Название предмета", 'type->"text")
		@helpInput(taskForm("teacher"), "Фамилия преподавателя", 'type->"text")
		@helpInput(taskForm("room"), "Номер аудитории", 'type->"text")

        @helpBtn("Найти")
        
    }
    
}

</HTML>